Q.1) Convert given hrs & mins in second

In [ ]:
# Que_1
hour = int(input("enter hr: "))
min = int(input("enter min: "))
sec = (hour*3600)+(min*60)
print(hour,'hour and',min,'minutes are total',sec,'seconds')

enter hr: 10
enter min: 2
10 hour and 2 minutes are total 36120 seconds

Q.2) Write code to find the average of ‘n’
numbers entered by the user to function avg ( ).
Ex: avg (10, 20, 30, 40) => average is: 70
avg (5, 10, 15) => average is: 10

In [35]:
# que_2
num = [10,20,30,40]
total =sum(num)
avg = total / len(num)
print("The Average is: ",avg)

The Average is:  25.0

Q.3) Print
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [33]:
#Que_3
n = '13567'
for i in range(0,len(n)):
  print(n[i]*(i+1))

1
33
555
6666
77777

Q.5) Create class

In [ ]:
#Que_5
class Math:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def Add(self):
    return self.a+self.b
  def Sub(self):
    return self.a-self.b
  def Mul(self):
    return self.a*self.b
  def Div(self):
    return self.a/self.b

In [ ]:
x = Math(20,5)

In [ ]:
print(x.Add())
print(x.Sub())
print(x.Mul())
print(x.Div())

25
15
100
4.0

Q.6) Read file & count numbers of digit
alphabets & symbols
(hint one can compare using ‘a’ < digit <
‘z‘

In [ ]:
#Que_6
a = input("enter the string: ")
d=l=0
for i in a:
  if i.isdigit():
    d+=1
  elif i.isalpha():
    l+=1
  else:
    pass
  print("Letters:",l)
  print("digit:",d)

enter the string: kalpesh
Letters: 1
digit: 0
Letters: 2
digit: 0
Letters: 3
digit: 0
Letters: 4
digit: 0
Letters: 5
digit: 0
Letters: 6
digit: 0
Letters: 7
digit: 0

Q.7) Convert Paise in Rupees &
Paises
Ex: 350 is 3 Rupees 50 Paise
3.50 print Rupees: 3
Paise: 50

In [ ]:
# Que_7
p = 100
rs = int(input("enter the amount in rupees: "))
total = rs * p
print(total," paise" )

enter the amount in rupees: 3
300  paise

Q.8Print
1
3 3
5 5 5
6 6 6 6
7 7 7 7 7

In [ ]:
# QUE_8
rows = 5
i=1
while i<=rows:
  j=1
  while j<=i:
    print((i*2-1),end=" ")
    j+=1
  i+=1
  print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

Q.9) Accept String & print only alternate
characters on a string.
Ex: this i s a _ test

In [ ]:
#Que_9
name = input("Enter: ")
print(name[1::2])

Enter: test
et

Q.10) Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [34]:
#QUE_10
n1=float(input("Enter the first no.: "))
n2=float(input("Enter the Second no.: "))
print("select operation : ")
op = input("Enter the specific opearation +,-,*,/ : ")
result=0
if op == '+':
  result=n1+n2
elif op == '-':
  result=n1-n2
elif op == '*':
  result=n1*n2
elif op == '/':
  result=n1/n2
else:
  print("invalid")

print(n1,op,n2, ':',result)

Enter the first no.: 5
Enter the Second no.: 6
select operation :
Enter the specific opearation +,-,*,/ : *
5.0 * 6.0 : 30.0